body {
  background: #e3f6f5;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.header {
  min-height: 40px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  padding: 5px;
}
.header_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  text-align: center;
  color: #78b7bb;
  font-weight: 400;
}
.all_lesson {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.main_lesson {
  position: relative;
  margin: 20px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
}
.lesson_img {
  height: 150px;
  width: 100%;
}
.teacher_back {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 55%;
  border: 3px solid black;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.owner_back {
  width: 90px;
  height: 90px;
  border-radius: 55%;
  margin-left: 20px;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.owner {
  width: 100%;
  height: auto;
}
.teacher {
  /* background-size: 100% auto; */
  width: 100%;
  height: auto;
}

.lesson_descr {
  margin-top: 10px;
  text-align: center;
  font-size: 19px;
  background: #78b7bb;
  min-height: 35px;
  padding-top: 10px;
  color: rgb(32, 38, 57);
}
.lesson_descr#sv_less {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}
@media (max-width: 600px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

#bar {
  top: -10em;
  right: 5em; /* Положение */
  padding: 0.5em; /* Поля */
  margin: 0; /* Отступы */
  position: absolute; /* Абсолютное позиционирование */
  width: 4em; /* Ширина */
  background: #f54ea2; /* Цвет фона */
  color: #41228e; /* Цвет текста */
  text-align: center; /* Выравнивание по центру */
  /* Переход */
  transition: top 1s ease-out 0.5s;
  list-style-type: none;
  font-size: 20px;
}
#bar:hover {
  top: 0;
}
