body {
  background: #e3f6f5;
}

.header_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  min-height: 40px;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  padding: 5px;
}
.owner_back {
  width: 90px;
  height: 90px;
  border-radius: 55%;
  margin-left: 20px;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
.owner {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Pacifico", cursive;
  font-size: 60px;
  text-align: center;
  color: #78b7bb;
  font-weight: 400;
}
.all_lesson {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}
.main_lesson {
  position: relative;
  margin: 20px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
}
.lesson_img {
  height: 150px;
  width: 100%;
}
.teacher_back {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 55%;
  border: 3px solid black;
  display: flex;
  justify-content: center;

  overflow: hidden;
}

.teacher {
  /* background-size: 100% auto; */
  width: 100%;
  height: auto;
}

.lesson_descr {
  margin-top: 10px;
  text-align: center;
  font-size: 19px;
  background: #78b7bb;
  min-height: 35px;
  padding-top: 10px;
  color: rgb(32, 38, 57);
}
.lesson_descr#sv_less {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}
#bar {
  top: -39em;
  right: 6em; /* Положение */
  padding: 0.3em; /* Поля */
  margin: 0; /* Отступы */
  position: absolute; /* Абсолютное позиционирование */
  width: 12em; /* Ширина */
  background: #f54ea2; /* Цвет фона */
  /*color: #41228e;  Цвет текста */
  text-align: center; /* Выравнивание по центру */
  /* Переход */
  transition: top 1s ease-out 0.5s;
  /* list-style-type: none; */
  font-size: 20px;
}
#bar p{margin-block-start: 40px;
  margin-block-end: 0;}
#bar:hover {
  top: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .teacher_back {
    left: 5px;
    top: 5px;
    width: 55px;
    height: 55px;
  }
  .main_lesson {
    margin: 10px;
    width: 250px;
    border-radius: 20px;
  }
}
